table #image img {
    margin: 0;
    max-width: 190px;
    max-height: 190px;
}

table #native {
    background-color: rgba(189,233,186,.35);
}

table #partial {
    background-color: rgba(255,215,140,.35);
}
