<style type="text/css">

<!-- General -->
#body .flex-block-wrapper {
    max-width: 100%;
    min-width: 100%;
}

.flex-block-wrapper table {
    overflow-x: auto;
    width: 100%;
}

<!-- Detail pages -->

.datatable {
    table-layout: fixed;
    width: 100%;
}

.datatable .col-pic {
    width: 20%;
}
.datatable .col-headers {
    width: 20%;
}
.datatable .col-data {
    width: 60%;
}

.datatable img {
    max-height: 180px;
}

.compattable {
    table-layout: fixed;
    width: 100%;
}

.compattable .col-model {
    width: 40%;
}
.compattable .col-support {
    width: 10%;
}
.compattable .col-notes {
    width: 50%;
}

table #native {
    background-color: rgba(189,233,186,.35);
}

table #partial {
    background-color: rgba(255,215,140,.35);
}

</style>
