          <style>
            a#logo {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
              font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 20px;
              font-weight: 400;
              max-width: 60%;
              text-transform: uppercase;
              width: 60%;
              margin-left: -10px;
            }
            a#logo:hover {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
            }
            @media only all and (max-width: 59.938em) {
              a#logo {
                font-size: 15px;
                margin-top: -3px;
              }
            }
            @media all and (-ms-high-contrast:none) {
              {{ "/* IE11s understanding of positioning is weird at best */" | safeCSS }}
              a#logo {
                margin-top: -58px;
              }
            }
          </style>
          <a id="logo" href="{{ .Site.Params.landingPageURL | default "/" | relLangURL }}">
            <img src="/ddgo-controller-docs/images/logo_big.png"><br>
            controller documentation
          </a>
