## Overview

<table class="datatable">
  <colgroup>
    <col class="col-pic">
    <col class="col-headers">
    <col class="col-data">
  </colgroup>
  <tr>
    <td rowspan="0" id="image">{{ if (index .Site.Data.software (.Get 0)).image}}<img src="/images/software/{{ (index .Site.Data.software (.Get 0)).image }}"/>{{ end }}</td>
    <td><strong>Name</strong></td>
    <td>{{ (index .Site.Data.software (.Get 0)).name }}</td>
  </tr>
  {{ if (index .Site.Data.software (.Get 0)).namejp }}
  <tr>
    <td><strong>Japanese name</strong></td>
    <td>{{ (index .Site.Data.software (.Get 0)).namejp }}</td>
  </tr>
  {{ end }}
  <tr>
    <td><strong>Release date</strong></td>
    <td>{{ (index .Site.Data.software (.Get 0)).date | time.Format ":date_long" }}</td>
  </tr>
  {{ if (index .Site.Data.software (.Get 0)).code }}
  <tr>
    <td><strong>Serial code</strong></td>
    <td>{{ (index .Site.Data.software (.Get 0)).code }}</td>
  </tr>
  {{ end }}
  {{ if (index .Site.Data.software (.Get 0)).url }}
  <tr>
    <td><strong>Website</strong></td>
    <td><a href="{{ (index .Site.Data.software (.Get 0)).url }}" target="_blank">{{ (index .Site.Data.software (.Get 0)).url }}</a></td>
  </tr>
  {{ end }}
  <tr>
    <td><strong>Notes</strong></td>
    <td>{{ (index .Site.Data.software (.Get 0)).notes }}</td>
  </tr>
</table> 

{{ with (index .Site.Data.software (.Get 0)).controllers }}
## Supported controllers

<table class="compattable">
  <colgroup>
    <col class="col-model">
    <col class="col-support">
    <col class="col-notes">
  </colgroup>
  <tr>
    <th>Model</th>
    <th>Support</th>
    <th>Notes</th>
  </tr>
  {{ range . }}
  <tr>
    <td><a href="{{ (index $.Site.Data.controllers .model).ref }}">{{ (index $.Site.Data.controllers .model).name }}</a></td>
    <td id="{{ if or .unofficial .partial }}partial{{ else }}native{{ end }}">{{ if .unofficial }}Unofficial{{ else if .partial }}Partial{{ else }}Native{{ end }}</td>
    <td>{{ .notes }} {{ if .adapter }}<a href="{{ index $.Site.Data.adapters .adapter "ref" }}">{{ index $.Site.Data.adapters .adapter "notes" }}</a>{{ end }}</td>
  </tr>
  {{ end }}
</table>
{{ end }}
